@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Photo>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-3 mb-3">visible index to folter</h1>
        <div>
            <input type="text" id="queryText" class="form-control" placeholder="Cerca per titolo" onkeyup="GetPhotos(this.value)" />
            @*<input type="text" id="a" class="form-control" placeholder="Magic" onkeyup="A()" />
            <div id="AAA"></div>*@
        </div>
    </div>
    @if (Model != null)
    {
        <table>
                <thead>
                    <tr>
                        <th>
                           Image
                        </th>
                        <th>
                           Title
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                          Visible
                        </th>
                        <th>
                           Categories
                        </th>

                        <th></th>
                    </tr>
                </thead>
            <tbody id="photos-table">

                    @foreach (var item in Model)
                    {//qua devo chiedere cacchio
                        <tr>
                            <td>
                                <img class="img-fluid" style="width:100px" src="~/img/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Title)">
                            </td>
                            <td class="Photo-Title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="Photo-Description">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="Photo-Visible">
                                @Html.DisplayFor(modelItem => item.Visible)
                            </td>
                            <td class="Photo-Categories">
                                @foreach (var category in item.Categories)
                                {
                                    <span class="px-1">@category.Name</span>
                                }
                            </td>

                            <td>
                              
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    }
    else{<div>no photos</div>}
</div>

    <a class="btn btn-primary mt-5" href="/Home/SendMessage">Send a message</a>


@section Scripts {
    <script type="text/javascript" src="~/js/ApiHome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    }
